name: eshop
services:
  catalogdb:
    image: postgres
    container_name: eshop_catalogdb

  basketdb:
    image: postgres
    container_name: eshop_basketdb

  distributedcache:
    image: redis
    container_name: eshop_distributedcache

  orderdb:
    image: mcr.microsoft.com/mssql/server
    container_name: eshop_orderdb

  messagebroker:
    image: rabbitmq:management
    container_name: eshop_messagebroker

  catalogapi:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: src/Services/Catalog/CatalogAPI/Dockerfile
    container_name: eshop_catalogapi

  basketapi:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: src/Services/Basket/BasketAPI/Dockerfile
    container_name: eshop_basketapi

  discountgrpc:
    image: ${DOCKER_REGISTRY-}discountgrpc
    build:
      context: .
      dockerfile: src/Services/Discount/DiscountGrpc/Dockerfile
    container_name: eshop_discountgrpc

  orderingapi:
    image: ${DOCKER_REGISTRY-}orderingapi
    build:
      context: .
      dockerfile: src/Services/Ordering/OrderingAPI/Dockerfile
    container_name: eshop_orderingapi

  yarpapigateway:
    image: ${DOCKER_REGISTRY-}yarpapigateway
    build:
      context: .
      dockerfile: src/ApiGateways/YarpApiGateway/Dockerfile
    container_name: eshop_yarpapigateway

volumes:
  postgres_catalog:
  postgres_basket:




